:root {
	--c-tl-bg: rgba(250, 204, 21, 0.2);

	--c-tl-primary: rgba(250, 204, 21, 0.4);
	--c-tl-secondary: rgba(250, 204, 21, 0.5);
	--c-tl-heading: #26586d;
	--c-tl-dot: #619EB8;
	--c-tl-dot-hover: #2E86AB;

	--c-tw-blue: rgb(59 130 246);
}

.timeline {
	max-width: 1000px;
	/* Background color */
	background-color: var(--c-tl-bg);
	color: #000;
	padding: 30px 20px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 0 auto;
}

.timeline ul {
	list-style-type: none;
	border-left: 2px solid #094a68;
	padding: 10px 5px;
}

.timeline ul li {
	padding: 20px 20px;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
	margin-left: 10px;
}

/* time capsule */
.timeline ul li span {
	display: inline-block;
	background-color: var(--c-tl-secondary);
	border-radius: 25px;
	padding: 4px 10px;
	font-size: 15px;
	text-align: center;
}

/* title */
.timeline ul li .content h3 {
	color: var(--c-tl-heading);
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 5px;
}

/* main text */
.timeline ul li .content p {
	padding: 5px 0px 15px 0px;
	font-size: 15px;
}

/* tl dots */
.timeline ul li:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background-color: var(--c-tl-dot);
	border-radius: 50%;
	left: -23px;
	top: 28px;
	transition: 0.5s;
}

.timeline ul li:hover {
	/* hover bg color */
	background-color: var(--c-tl-primary);
	border-radius: 5px;
}

.timeline ul li:hover:before {
	background-color: var(--c-tl-dot-hover);
	box-shadow: 0px 0px 10px 2px var(--c-tl-dot-hover);
}

@media (max-width: 300px) {
	.timeline {
		width: 100%;
		padding: 30px 5px 30px 10px;
	}
	.timeline ul li .content h3 {
		color: #34ace0;
		font-size: 15px;
	}
}
