---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <div class="text-center my-auto">
        <h2>Diese Seite gibt es leider nicht.</h2>
        <h3>Entweder wir haben sie gelöscht, oder es liegt ein Fehler im Link vor.</h3>
        <h3>Zurück zur <a href="/">Startseite</a></h3>
    </div>
    
  </Container>
</Layout>