---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Seite nicht gefunden">
  <Container>
    <div class="text-center my-auto">
        <h2 class="text-2xl mb-4">Diese Seite gibt es leider nicht.</h2>
        <h3>Entweder wir haben sie gelöscht, oder es liegt ein Fehler im Link vor.</h3>
        <h3 class="">Zurück zur <a href="/" class="text-blue-500 font-bold hover:underline">Startseite</a></h3>
    </div>
    
  </Container>
</Layout>