---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Beiträge">
    <Container>
        <h1>Hier werden beiträge gepostet</h1>
    </Container>
</Layout>