---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Picture from "@astrojs/image/components/Picture.astro";

import { getCollection } from "astro:content";

const publishedNews = await getCollection("news", ({ data }) => {
  return !data.draft;
});

// Sort news by date
publishedNews.sort(function (a, b) {
  return Date.parse(b.data.datum) - Date.parse(a.data.datum)
});
---

<Layout title="Beiträge">
    <Container>
        <h1 class="text-2xl">Neues von den Millers</h1>

        <ul>
            {
                publishedNews.map((news, index) => (
                    <li class="my-4 p-4 bg-slate-200 rounded-md">
                        <div class="grid">
                            <a href={"/news/" + news.slug}>
                                <h2 class="text-slate-900 text-xl">{news.data.titel}</h2>
                                <h4 class="text-slate-700 text-sm">{news.data.datum}</h4>   
                            </a>
                        </div>
                        

                    </li>
                ))
            }
            
        </ul>
        
    </Container>
</Layout>