---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Picture from "@astrojs/image/components/Picture.astro";
import { lime } from "tailwindcss/colors";

const res = await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/posts?categories=4")
const posts = await res.json()

function formatDate(date): string {
    return date.getDate() + "." + date.getMonth() + "." + date.getFullYear();
}
---

<Layout title="Beiträge">
    <Container>
        <h1 class="text-2xl">Neues von den Millers</h1>

        <ul>
            {
                posts.map((post) => (
                    <li class="my-4 p-4 bg-slate-200 rounded-md w-full">
                        <div class="grid ">
                            <a href={"/beiträge/" + post.slug + "/"}>
                                <h2 class="text-slate-900 text-xl" set:html={post.title.rendered}></h2>

                                <h3 class="text-slate-700 text-md">{ formatDate(new Date(post.date)) }</h3>
                            </a>
                        </div>
                        
                        
                    </li>
                ))
            }
            
        </ul>
        
    </Container>
</Layout>