---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";

import "../styles/timeline.css";

import bückeburgBanditsTeam from "../assets/millers/historie/bückeburg-bandits.jpg";
import hitterPortrait from "../assets/millers/historie/schlagmann.jpg";
import mindenMillersTeam from "../assets/millers/historie/minden-millers.jpg";
import newField1 from "../assets/millers/historie/newField1.jpg";

const historyData = await (await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/geschichte")).json()
const history = historyData.map((year) => {
	return year.acm_fields
}).reverse()


---

<Layout title="Historisches">
	<Container>
		<h1 class="text-2xl mb-2">Die Geschichte der Minden Millers</h1>

		<div class="timeline">
			<ul>
				{
					history.map((year) => (
						<li>
							<span>{year.jahr}</span>
							<div class="content">
								<h3>{year.titel}</h3>	
								<p>{year.text}</p>
							</div>
						</li>
					))
				}
			</ul>
		</div>
	</Container>
</Layout>
