---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
  <h1>Das hier wird die Startseite</h1>
  </Container>
</Layout>
