---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import { getImage } from "Networking/wordpress";

const res = await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/websitebilder?slug=maniacs-team")
const data = await res.json()

const WPimage = getImage(data)

---

<Layout title="Maniacs">
    <section class="relative w-full max-h-[calc(100vh_-_115px)]">
        <!-- Works as placeholder while image is loading -->
        <div class="w-full aspect-[4/3] max-h-[calc(100vh_-_115px)] linear-background">
            <Picture
                src={WPimage.url}
                alt="Ein Teamfoto der Minden Maniacs"
                widths={[400, 800, 1600]}
                sizes="100%"
                class="w-full max-h-[calc(100vh_-_115px)] object-cover"
                aspectRatio={WPimage.width/WPimage.height}
            />
        </div>
            
        <div class="absolute bottom-0 w-full md:h-24 h-12 md:text-3xl text-xl text-white bg-gray-800/75 ">
            <h3 class="text-center my-auto align-middle md:leading-[6rem] leading-[3rem]">Damenmannschaft</h3>
        </div>
    </section>
	
	<Container>
        <h3 class="text-xl">Trainer</h3>
        <section class="flex flex-wrap gap-4 pb-4">

            <div class="grow p-5 bg-slate-200 rounded-sm">
                <strong>Tanja Müthers</strong>
                <p>trainer.maniacs@mindenmillers.de</p>
                <p>0160 6350069</p>
            </div>

            <div class="grow p-5 bg-slate-200 rounded-sm">
                <strong>Annika Hartmann</strong>
                <p>a.hartmann@mindenmillers.de</p>
            </div>
        </section>
        <h3 class="text-lg">Hier können noch weitere informationen veröffentlicht werden.</h3>
	</Container>
</Layout>