---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Maniacs">
    <Container>
        <h1>Hier werden die Maniacs vorgestellt</h1>
    </Container>
</Layout>