---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import CookieBanner from "@components/cookie-banner.astro"
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import abstechenImg from "../assets/millers/historie/ballpark-stechen.jpg";
import plans from "../assets/millers/historie/plans.jpg";
import backstop from "../assets/millers/historie/backstop.jpg";
import Map from "@components/map.astro";

const ballparkHistoryData = await (await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/websitetexte?slug=ballpark-geschichte")).json()
const ballparkHistory = ballparkHistoryData[0].acm_fields.text
---

<Layout title="Millers Ballpark">
	<Container>
		<h1 class="text-2xl mb-10">Baseballplatz - Millers Ballpark</h1>

		<section class="mb-8">
			<div class="md:flex grid-cols-2">
				<div>
					<h2 class="text-xl font-bold">Anfahrt</h2>
					<p>Tietzelweg 7</p>
					<p>Innenstadt</p>
					<p>32425 Minden</p>
					<p>Deutschland</p>
					<hr class="mt-2 h-2">
					<p>Weitere Kartendienste:</p>
					<div class="mt-4">
						<a
							href="https://osm.org/go/0Gw2EZ1fU-?m="
							target="_blank"
							class="p-2 bg-green-100 border-green-600 hover:border-green-800 hover:bg-green-800 border-2 rounded border-solid hover:text-white whitespace-nowrap"
							><Icon
								class="w-4 inline mb-1"
								name="uil:external-link-alt"
								title={"Dieser Externe Link führt zu 'https://osm.org/go/0Gw2EZ1fU-?m='"}
							/>
							In Open Street Maps öffnen</a
						>
					</div>
					<div class="mt-8">
						
						<a
							href="https://goo.gl/maps/bUZrfPfqXhRzAjxj6"
							target="_blank"
							class="p-2 bg-orange-100 border-orange-400 hover:border-orange-600 hover:bg-orange-600 border-2 rounded border-solid hover:text-white whitespace-nowrap"
							><Icon
								class="w-4 inline mb-1"
								name="uil:external-link-alt"
								title={"Dieser Externe Link führt zu 'https://goo.gl/maps/bUZrfPfqXhRzAjxj6'"}
							/>
							In Google Maps öffnen</a
						>
					</div>
					<div class="mt-8">
						<a
							href={`https://maps.apple.com/?address=Tietzelweg%207,%20Innenstadt,%2032425%20Minden,%20Germany&ll=52.310181,8.880242&q=Tietzelweg%207`}
							target="_blank"
							class="p-2 bg-blue-100 border-blue-600 hover:border-blue-800 hover:bg-blue-800 border-2 rounded border-solid hover:text-white whitespace-nowrap"
							><Icon
								class="w-4 inline mb-1"
								name="uil:external-link-alt"
								title={"Dieser Externe Link führt zu " +
									`https://maps.apple.com/?address=Tietzelweg%207,%20Innenstadt,%2032425%20Minden,%20Germany&ll=52.310181,8.880242&q=Tietzelweg%207`}
							/>
							In Apple Maps öffnen</a
						>
					</div>
					
				</div>
				<div class="mt-8 md:mt-0 md:ml-8 grow border border-slate-900">
					<Map />
					{/* <CookieBanner />
					<iframe id="osm-embedding-map" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=8.876717090606691%2C52.30703546237885%2C8.88424873352051%2C52.31307018749841&amp;layer=mapnik&amp;marker=52.310052927774194%2C8.880482912063599" style="border: 1px solid black"></iframe> -->
					<!-- <iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.795593103269!2d8.87579599964047!3d52.31015809503097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba745c9e3f3d65%3A0x61c39557574948ad!2sTietzelweg%207%2C%2032425%20Minden!5e1!3m2!1sen!2sde!4v1680634939620!5m2!1sen!2sde"
						width="100%"
						height="600"
						style="border:0;"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe> -->
					*/}
				</div>
			</div>
		</section>

		<hr />
		<br />
		<section>
			<h2 class="text-xl font-bold">Historie</h2>
			<Fragment set:html={ballparkHistory} />

			<div class="xs:flex flex-wrap gap-4 my-8 justify-start">
				<Picture
					src={plans}
					alt="Ein historisches Bild der originalen Skizzen für den Millers ballpark"
					sizes=""
					widths={[161]}
					class="xs:w-64"
				/>
				<Picture
					src={backstop}
					alt="Ein Bild des ersten backstops im Millers Ballpark"
					sizes=""
					widths={[161]}
					class="xs:w-64 mt-4 xs:mt-0"
				/>
			</div>
		</section>
	</Container>
</Layout>
