---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Millers">
    <Container>
        <h1>Hier werden Millers vorgestellt</h1>
    </Container>
</Layout>