---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import PaginationController from "@components/pagination-controller.astro";
import NewsPreview from "@components/news-preview.astro";
import { formatDate, previewHTML } from "Networking/Utility"

const res = await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/news?per_page=15&page=1")
const total = res.headers.get("X-WP-Total")
const totalPages = res.headers.get("X-WP-TotalPages")
const posts = await res.json()

---

<Layout title="News">
    <Container class="max-w-3xl">
        <h1 class="text-2xl">Neues von den Millers</h1>
        <ul id="millers-news-feed" >
            {
                posts.map((post) => (
                    <NewsPreview post={post} />
                ))
            }
            
        </ul>
        <script>
            window.location.replace("/news/1")
        </script>
        
        <PaginationController total={total} totalPages={totalPages ?? 1} />
    </Container>
</Layout>