---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Kalender">
    <Container>
        <h1>Hier wird ein Kalender mit wichtigen Daten gezeigt</h1>
    </Container>
</Layout>