---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="Vorstand">
    <Container>
        <h2 class="text-2xl">Der Vorstand der Minden Bandits</h2>
    </Container>
</Layout>