---
import { eventsJSON } from "../Networking/events"
---

<head>
	<!-- FullCalendar -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>

	<script>
		import { Calendar } from "fullcalendar";
		import dayGridPlugin from "@fullcalendar/daygrid";
		import listPlugin from "@fullcalendar/list";
		import { Match } from "Networking/BSMMatches";

		var prevWidth = 0;
		const storageEl = document.querySelector('#bsm-data-storage')

		function createMatchTitle(match) {
			// return match.away_team_name + " @ " + match.home_team_name
			return match.home_league_entry.team.short_name == "MIN" ? "Heimspiel" : "Auswärts"
		}

		function createMatchDescription(match) {
			return  `<div class=\"custom-event-description\">${match.away_team_name + " @ " + match.home_team_name}<br>Wo: ${match.field?.name}</div>`
		}

		const json = JSON.parse((storageEl as HTMLElement).dataset.bsmstorage ?? "")
		const matches = json.filter(match => (match.home_league_entry.team.short_name == "MIN" || match.away_league_entry.team.short_name == "MIN"))

		const valid = matches.map((match) => Object.create({
			start: new Date(match.time.replace(/-/g, "/")).toISOString(),
			title: createMatchTitle(match),
			extendedProps: {
				match: match,
			},
			description: createMatchDescription(match)
		}))

		function getWidth() {
			return Math.max(
				document.body.scrollWidth,
				document.documentElement.scrollWidth,
				document.body.offsetWidth,
				document.documentElement.offsetWidth,
				document.documentElement.clientWidth
			);
		}

		document.addEventListener("DOMContentLoaded", function () {
			var calendarEl = document.getElementById("game-calendar");

			if (calendarEl == null) {
				return;
			}

			var calendar = new Calendar(calendarEl, {
				locale: "de",
				firstDay: 1,
				plugins: [dayGridPlugin, listPlugin],
				events: valid,
				initialView: getWidth() >= 600 ? "dayGridMonth" : "listMonth",
				headerToolbar: {
					left: "prev,next today",
					center: "title",
					right: "dayGridMonth,listMonth",
				},
				buttonText: {
					today: "Heute",
					month: "Monat",
					week: "Woche",
					day: "Tag",
					list: "Liste",
				},
				views: {},
				height: "100%",
				eventDidMount: function(info) {
					info.el.classList.add("tooltip")
					const tooltip = document.createElement('div')
					tooltip.className = "tooltiptext"
					tooltip.innerHTML = createMatchDescription(info.event.extendedProps.match)
					info.el.appendChild(tooltip)

					// const fcTitle = info.el.querySelector('.fc-event-title')
					
					// if (fcTitle != null) {
					// 	fcTitle.insertAdjacentHTML("beforeend","<br/>" + createMatchDescription(info.event.extendedProps.match)); 
					// } else {
					// 	console.log("EEE");
					// }
				},
			});

			window.addEventListener("resize", function () {
				const width = getWidth();
				if (width >= 600 && prevWidth < 600) {
					calendar.changeView("dayGridMonth");
				} else if (width < 600 && prevWidth > 600) {
					calendar.changeView("listMonth");
					calendar;
				}
				prevWidth = width;
			});

			// fetchGames();
			calendar.render();
		});
	</script>
</head>

<div id="game-calendar" class="m-5 max-w-screen-xl xl:mx-auto overflow-hidden">
</div>
<span id="bsm-data-storage" data-bsmstorage={eventsJSON} ></span>
