---
---

<head>
	<!-- FullCalendar -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>

	<script>
		import { Calendar } from "fullcalendar";
		import dayGridPlugin from "@fullcalendar/daygrid";
		import listPlugin from "@fullcalendar/list";
        import { Match } from "Networking/BSMMatches";
        import { api }  from "Networking/api";

		var prevWidth = 0

        function fetchGames(): Match[] {
            fetch("https://bsm.baseball-softball.de/clubs/354/matches.json?api_key=Sm1o1iRAB2jB_U8xVUfpvw", {
                mode: 'no-cors'})
                .then((response) => {
                    console.log(response)
                    console.log(response.json())
                })
                .catch((error) => { 
                    console.log("Error: " + error)
                })
                

            return []
        }

		function getWidth() {
			return Math.max(
				document.body.scrollWidth,
				document.documentElement.scrollWidth,
				document.body.offsetWidth,
				document.documentElement.offsetWidth,
				document.documentElement.clientWidth
			);
		}

		document.addEventListener("DOMContentLoaded", function () {
			var calendarEl = document.getElementById("game-calendar");

			if (calendarEl == null) {
				return;
			}

			var calendar = new Calendar(calendarEl, {
				locale: "de",
				firstDay: 1,
				plugins: [dayGridPlugin, listPlugin],
				initialView: (getWidth() >= 600) ? "dayGridMonth" : "listMonth",
				headerToolbar: {
					left: "prev,next today",
					center: "title",
					right: "dayGridMonth,listMonth",
				},
				buttonText: {
					today: "Heute",
					month: "Monat",
					week: "Woche",
					day: "Tag",
					list: "Liste",
				},
				views: {},
				height: "100%",
			});

			window.addEventListener("resize", function() {
				const width = getWidth();
				console.log("ran");
				if (width >= 600 && prevWidth < 600) {
					calendar.changeView('dayGridMonth');
				} else if (width < 600 && prevWidth > 600) {
					calendar.changeView('listMonth');
				}
				prevWidth = width
			});

            fetchGames()
			calendar.render();
		});

		
	</script>
</head>

<div id="game-calendar" class="m-5 max-w-screen-xl xl:mx-auto overflow-hidden"></div>
