---
import CookieBanner from "@components/cookie-banner.astro";
---

<div id="osm-embedding-map-wrapper">
    <CookieBanner />
</div>

<script defer>
        const cookieAccepted = getCookie('cookie.map.accepted')
        const mapHTML = `
        <iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.795593103269!2d8.87579599964047!3d52.31015809503097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba745c9e3f3d65%3A0x61c39557574948ad!2sTietzelweg%207%2C%2032425%20Minden!5e1!3m2!1sen!2sde!4v1680634939620!5m2!1sen!2sde"
						width="100%"
						height="500"
						style="border:0;"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
        `;

        function getCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

    
        if (cookieAccepted !== null) {
            document.getElementById('osm-embedding-map-wrapper').innerHTML += mapHTML
        }
    </script>