@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override selected base styles */
@layer base {
	ul {
		/* @apply list-disc list-inside; */
	}
}
@layer components {
	/*
Example of custom class in tailwind
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
*/

	.dev-mode {
		@apply border-red-500 border-2 text-red-500;
	}

	.message {
		@apply relative;
	}
  
	.footer-a {
		@apply text-gray-700 hover:underline hover:text-blue-500;
	}
}

/* The following two classes to what the say respectivly while applying basic styles to everything hat can be done in wp richtext fields */
/* Remove tailwind styling */
.remove-default-styling {
	all: revert;
}

.remove-default-styling * {
	all: revert;
}

/*
hr {
  border: 0;
  clear:both;
  display:block;
  height: 1px;
}
*/
.rich-text-styling blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/* Bubbles on index page */
.bubble {
	position: relative;
	line-height: 1.4em;
	border: 2px solid transparent;
	font-family: sans-serif;
	font-size: large;
}

.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.speech-bl:before {
	left: 30px;
	bottom: -30px;
	border: 15px solid;
	border-color: transparent transparent transparent transparent;
}

.speech-bl:after {
	left: 32px;
	bottom: -25px;
	border: 15px solid;
	border-color: rgb(209 213 219) transparent transparent rgb(209 213 219);
}

.speech-br:before {
	right: 30px;
	bottom: -30px;
	border: 15px solid;
	border-color: transparent transparent transparent transparent;
}

.speech-br:after {
	right: 32px;
	bottom: -25px;
	border: 15px solid;
	border-color: rgb(209 213 219) rgb(209 213 219) transparent transparent ;
}

.bubble-border {
  border-color: #333;
}

.bubble-border.speech-bl:before {
  border-color: #333 transparent transparent #333;
}

.bubble-border.speech-br:before {
  border-color: #333 #333 transparent transparent;
}

/* Wordpress styling */
.wordpress a {
	color: blue
}

.wordpress a:hover {
	text-decoration: underline
}

.wordpress ul {
	margin: 0.5em 0;
	list-style: inside;
}

/* Global placeholder shimmer */
@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
}

.fade-out-bottom-text {
	-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
}

/* Generic custom tooltip */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 10;
	bottom: 125%;
	left: 0;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}