---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

import '../styles/base.css';

export interface Props {
  title: string;
}

// const { src } = await getImage({
//   src: "../../assets/hero.png",
//   width: 800,
//   height: 742,
//   format: "avif",
// });
// console.log(src);

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Minden Millers"
  : "Minden Millers";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- LINKS -->
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=2">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- SEO -->
    <SEO
      title={makeTitle}
      description="Die offizielle Website der Minden Millers."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Die offizielle Website der Minden Millers.",
          image: "",
        },
      }}
    />
  </head>
  <body class="absolute inset-0 table w-full h-full">
    <header class="table-row">
      <Navbar class="table-cell" />
    </header>
    <main class="table-row h-full">
      <slot class="table-cell" />
    </main>
    <footer class="table-row">
      <Footer class="table-cell" />
    </footer>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
